$border-radius-1x: 2px;
$border-radius-2x: calc($border-radius-1x * 2);

$spacing-half: 4px;
$spacing-1x: 8px;
$spacing-2x: calc($spacing-1x * 2);
$spacing-3x: calc($spacing-1x * 3);
$spacing-4x: calc($spacing-1x * 4);

$font-size-16: 16px;
$login-form-el-height: 50px;
