* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}
html,
body {
  background-color: #faf9fa;
  width: 100vw;
  height: 100vh;
}
ul,
li {
  list-style: none;
}

.isActive {
  background-color: #303030 !important;
  color: #f1f1f1 !important;
}
